body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    gap: 50px;
    background-color: rgb(54, 54, 54);
}

#grid-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 650px;
    height: 650px;
    background-color: rgb(24, 24, 24);
    border: 2px solid white;
    
}

.box {
    flex: 1;
    outline: 1px solid rgb(49, 49, 49);
}

.row {
    display: flex;
    width: 100%;
}

button {
    padding: 10px 50px;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    color: white;
}